In [20]:
import pandas as pd
datos={
    'Continente':['America','America','Europa','Europa'],
    'Pais':['Chile','Argentina','España','Francia'],
    'Ventas':[100,200,150,189]
    }
df=pd.DataFrame(datos)
df

  Continente       Pais  Ventas
0    America      Chile     100
1    America  Argentina     200
2     Europa     España     150
3     Europa    Francia     189

## Indexacion jeraquica

In [21]:
df_indexado=df
df_indexado.set_index(['Continente','Pais'],inplace=True)
df_indexado

                      Ventas
Continente Pais
America    Chile         100
           Argentina     200
Europa     España        150
           Francia       189

## GroupBy

In [22]:
df_grouped=df.groupby('Continente')['Ventas'].sum()
df_grouped

Continente
America    300
Europa     339
Name: Ventas, dtype: int64

## Pivot

In [28]:
df=pd.DataFrame(datos)
df_pivot=df.pivot(index='Pais',columns='Continente',values='Ventas')
print(df_pivot)

Continente  America  Europa
Pais
Argentina     200.0     NaN
Chile         100.0     NaN
España          NaN   150.0
Francia         NaN   189.0

## Merge

In [26]:
df1=pd.DataFrame({
    'ID':[1,2,3],
    'Nombre':['Ana','Luis','Pedro']
})
df2=pd.DataFrame({
    'ID':[1,2,3],
    'Ventas':[1000,1500,2000]
})
print(df1)
print(df2)
df_merge=pd.merge(df1,df2,on='ID')
print(df_merge)

   ID Nombre
0   1    Ana
1   2   Luis
2   3  Pedro
   ID  Ventas
0   1    1000
1   2    1500
2   3    2000
   ID Nombre  Ventas
0   1    Ana    1000
1   2   Luis    1500
2   3  Pedro    2000